$color-primary: #bcf804;
$color-primary-hover: #9fcd0f;
$color-primary-active: #7a971f;
$color-white: #fff;
$color-black: #000;

$icon-size: 18px;
$desktop-icon-size: 24px;
$br-radius: 8px;

$smooth-transition: 0.3s;
$height-mobile-transition: 0.3s;
